<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>学生入口|TA 教学助手</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/home/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/home/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="icon" type="image/png" href="/home/image/ta.ico">
</head>
<body>
<nav class="white" role="navigation">
 <div class="nav-wrapper container">
   <a id="logo-container" href="#" class="brand-logo"><img src="/home/image/ta.ico" alt="" style="vertical-align
   : middle;">Assistant</a>
   <ul class="right hide-on-med-and-down">
    <li><a href="/">首页</a></li>
	<li><a href="/sessions/input_key">学生入口</a></li>
	<li><a href="/teachers/entry">教师入口</a></li>
   </ul>
   <ul id="nav-mobile" class="side-nav">
    <li><a href="/">首页</a></li>
	<li><a href="/sessions/input_key">学生入口</a></li>
	<li><a href="/teachers/entry">教师入口</a></li>
   </ul>
   <a href="#" data-activates="nav-mobile" class="button-collapse light-blue-text"><i class="material-icons">men
   u</i></a>
   </div>
 </nav>


  <div class="row" style="margin-top:140px;">
      <div class="col s12 m4 offset-m4">
      <div class="card blue">
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width tabs-transparent">
              <li class="tab"><a href="#test1">学生入口</a></li>
            <li class="indicator" style="right: 131px; left: 130px;"></li></ul>
          </div>
          <div class="card-content blue lighten-5">
            <div id="test1" class="">
              <% if flash[:notice] %>
                <div style="font-size:18px;"> <p class='center-align'><%= flash[:notice] %></p></div>
              <% end %>
                 <%= form_for(:session, url: sessions_path) do |f| %>
                    <div class="row">
                      <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input type="text" name="secret_key"  class="validate">
                        <label>密钥</label>
                      </div>
                      <button class="btn waves-effect light-blue" type="submit" name="action">提交
                        <i class="material-icons right">send</i>
                      </button>
                  <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>
   
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/home/js/materialize.min.js"></script>
</body>


</html>


