<!DOCTYPE html>
<html>
	<head>
		<title>Main</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<h1 align = "center"> 设置密钥有效期 </h1>
		<div align="center">
    	    <%= form_for :assignment, :method => 'post', :url => {:action => 'build_secret_key'} do |f| %>
                <p>密钥有效期：<%= f.text_field :duration %></p>
  	            <p><%= submit_tag "生成" %></p>
	         <% end %>
	         
	         <% flash.each do |name, msg| -%>
                <%= content_tag :div, msg, class: name %>
             <% end -%>
		</div>
		
	</body>
</html>
