<html>
	<head>
		<title>Main</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<h1 align = "center"> students index </h1>
		<p align = "center"> welcome,student:<%= :rolename %></p>
	    
	</body>
</html>