<%= form_for(@stulecture) do |f| %>
  <% if @stulecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stulecture.errors.count, "error") %> prohibited this stulecture from being saved:</h2>

      <ul>
      <% @stulecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
