<!DOCTYPE html>
<html>
	<head>
		<title>Main</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<h1 align = "center"> 主界面 </h1>
		<div align="center">
    	<%= form_for :role, :method => 'post', :url => {:action => 'create'} do |f| %>
     <p>
    选择角色：<%= f.text_field :rolename %>
    </p>
  	<p><%= submit_tag "确认" %></p>
			<% end %>
		</div>
	</body>
</html>
