<!DOCTYPE html>
<html>
	<head>
		<title>Main</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<h1 align = "center"> 添加课程 </h1>
		<div align="center">
			<% flash.each do |name, msg| -%>
              <%= content_tag :div, msg, class: name %>
           <% end -%>
			
    	<%= form_for :course, :method => 'post', :url => {:action => 'add_course'} do |f| %>
     <p>
    课程名：<%= f.text_field :name %>
    </p>
  	<p><%= submit_tag "添加" %></p>
	     <% end %>
		</div>
		
	</body>
</html>
